/*body{
    background-color: #ccc;
  }
  
 .container{
    width: 1200px;
    margin: 40px auto;
  }
  
  img{
    width: 100%;
  }
  
  figure{
    width: 300px;
    float: left;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    display: block;
    cursor: pointer;
    overflow:inherit;
  }
  
  figcaption{
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;  
    
    transition-delay: 3s;
    transition: opacity 1s;
  }
  
  figure img{
    transition: scale 1s;
  }
  
  figure:hover img{
    transform: scale(1.5);
  }
  
  figure:hover figcaption{
    opacity: 1;
  }*/