<div>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul  class="navbar-nav">
            <li style="float:left; padding:10px">
                <a class="nav-link btn btn-secondary" style="margin:10px" routerLink="/addproduct/addproductT">
                    Add ProductT
                </a>
            </li>
            <li style="float:left; padding:10px">
                <a class="nav-link btn btn-secondary" style="margin:10px" routerLink="/addproduct/addproductR">
                    Add ProductR
                </a>
            </li>
        </ul>
    </nav>
</div>
<div style="padding-top: 50px; border:1px solid rgb(43, 39, 39);">
    <router-outlet></router-outlet>
</div>